<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a junior at the
      <a class="underline-link" href="https://ischool.uw.edu/" target="_blank">University of Washington, Seattle</a>
      studying Computer Science/Informatics with a concentration in Data Science. I currently
      work on
      <a class="underline-link" href="https://ecosystemsentinels.org/" target="_blank">Penguin data</a>
      (yes, Penguins!) through databases and data analysis at a research lab under the University of Washington, Seattle.
      <br/>
      I'm an incoming intern at
       <a class="underline-link" href="https://www.microsoft.com/en-us/security/business/identity"<strong>Microsoft</strong></a> 
       for their Identity Team and I've previously worked at 
      <a class="underline-link" href="https://www.t-mobile.com/"<strong>T-Mobile</strong></a> as a <style="color:#8941FF">Data Analyst Intern</style> 
      on their Home Internet Team, and <a class="underline-link" href="https://www.esri.com/en-us/home" target="_blank">ESRI</a>, as a Software Engineer
      Intern where I worked
      on image analysis with geographic data. 
       My academic interests tend to revolve around <strong>data,
       natural language processing, software dev. and computer vision.</strong> 
      
    </p>

    <p>
      When I'm not in classes or working, I'm probably illustrating, learning a new language,
      or crossing off another item on my bucket list. I'm a certified vocalist, speak 4 languages,
       and you can check out my art on <a class="underline-link" href="https://www.instagram.com/jadedsouza/" target="_blank">Instagram</a>!
    </p>

  </div>
</section>
