<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I currently work with
      <a class="underline-link" href="https://ecosystemsentinels.org/" target="_blank">data on Penguins</a>
      (yes, Penguins!) through databases and data analysis at a research lab under the University of Washington, Seattle.
      I'm a sophomore at the
      <a class="underline-link" href="https://ischool.uw.edu/" target="_blank">University of Washington, Seattle</a>
      where I study Informatics and Applied Mathematics. My academic interests tend to revolve around data,
       natural language processing and computer vision. I've also previously interned as a Software Developer at
      <a class="underline-link" href="https://www.esri.com/en-us/home" target="_blank">ESRI</a>, where I worked
       on image analysis with geographic data.
    </p>

    <p>
      When I'm not in classes or working, I'm probably <strong>illustrating, learning a new language,
      or crossing off another item on my bucket list.</strong> I'm a certified vocalist, speak 4 languages,
       and you can check out my art on <a class="underline-link" href="https://www.instagram.com/jadedsouza/" target="_blank">Instagram</a>!
    </p>

  </div>
</section>
