<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project ASLTranslator">
      <figure class="project__pic">
        <a href="https://github.com/jadedsouza/ASL-to-Text-IOS" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ASLTranslator/ASLTranslator.gif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/jadedsouza/ASL-to-Text-IOS" target="_blank">ASLTranslator</a>
        </div>
        <p>Real time translation of American Sign Language to English. Built using Microsoft Computer Vision, Python and C++. </p>
      </figcaption>
    </div>

    <!-- add more stuff here using same above format. if you're reading this, hope you're having a lovely day! -->

  </div>
</section>
