<header class="intro">
  <h1 class="intro__hello">Hi!
    <span class="👋🏾animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Jade D'Souza.</span> I'm passionate about data, software development, and accessibility.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:jadedsouza@hotmail.com" target="_blank" class="highlight-link">jadedsouza@hotmail.com</a>
    </span>
  </h3>
</header>
